<div class="panel panel-default">
  <!-- Panel Contents -->
  <div class="panel-heading strong">Servicios Activos: {{servicios.length}}</div>
  <!-- Table -->
  <table class="table table-bordered table-condensed">
    <thead>
    <tr class="table-center">
      <th style="width: 15%">Datos</th>
      <th>Cliente</th>
      <th style="width: 2%">F</th>
      <th style="width: 30%">Estado</th>
    </tr>
    </thead>
    <tbody>
    {{#each servicios as |item|}}

      <tr>
        <!--Datos-->
        <td>
          <div>
            <!--Número Teléfono-->
            <div class="col-md-6 no-padding">{{item.cliente.telefono}}</div>
            <!--Código Recepcionista-->
            <div class="col-md-3">{{item.recepcionista}}</div>
            <!--Tiempo Trascurrido-->
            <div class="col-md-3 no-padding text-right">{{item.elapsed}}</div>
          </div>
          <div>
            <!--Tipo Pago-->
            <div class="col-md-9 no-padding">
              {{#if (eq item.tipo 1)}}Efectivo{{/if}}
              {{#if (eq item.tipo 3)}}Personalizado{{/if}}
            </div>
            <!--Cantidad Taxis-->
            <div class="col-md-3 no-padding text-right strong">
              [{{item.multiple.[0]}} / {{item.multiple.[1]}}]
            </div>
          </div>
        </td>

        <!--Cliente-->
        <td>
          <!--Dirección-->
          <div>
            <span>{{item.cliente.dir.D}}</span>
            <span>{{item.cliente.dir.DI}}</span>
            <span>{{item.cliente.dir.I}}</span>
            <span class="label label-success">{{item.cliente.dir.C}}</span>
            <span class="label label-primary">{{item.cliente.dir.B}}</span>
            <span class="label label-default">{{item.cliente.dir.M}}</span>
          </div>
          <div>
            <!--Nombre Cliente-->
            <span class="strong">{{item.cliente.nombre}}</span>
            <!--Código Especial-->
            {{#if (not-eq item.cliente.codigo 0)}}
              <span class="label label-warning">{{item.cliente.codigo}}</span>
            {{/if}}
          </div>
        </td>

        <!--Frecuencia-->
        <td class="text-center vertical-align">{{item.frecuencia}}</td>

        <!--Estado-->
        {{#if item.taxi_no_llega}}
          <td class="danger strong vertical-align text-center">
            <span class="text-danger">EL CLIENTE INFORMA QUE EL TAXI {{item.movil}} NO LLEGA</span>
          </td>
        {{else if (gte item.rotacion 1)}}
          <td class="info strong vertical-align text-center">
            <span class="text-info">REENVIADO DESDE LA FRECUENCIA {{item.rotacion}}</span>
          </td>
        {{else}}
          <td></td>
        {{/if}}

      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
