<h3>
  <button {{action "toggleBody"}} class="btn btn-success">ToggleBody</button>
</h3>

{{#if isShowingBody}}
<p>{{{body}}}</p>
{{/if}}

<h3>
  <button {{action "sendAjaxPromise"}} class="btn btn-primary">Ajax</button>
</h3>

{{name}}

{{yield}}